@import 'tailwindcss';

@theme inline {
  --color-dark: var(--dark);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

:root {
  --dark: oklch(0.145 0 0);
  --border: oklch(1 0 0 / 10%);
  --primary: oklch(0.922 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

* {
  box-sizing: border-box;
  color-scheme: dark;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@keyframes beat-pulse {
  0% {
    box-shadow: inset 0 0 100px 50px var(--chart-4);
    transform: scale(1);
  }
  50% {
    box-shadow: inset 0 0 50px 25px rgba(59, 130, 246, 0);
    transform: scale(1.05);
  }
  100% {
    box-shadow: inset 0 0 0 rgba(59, 130, 246, 0);
    transform: scale(1);
  }
}

.metronome-pulse {
  animation: beat-pulse 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
