@import 'tailwindcss';
@plugin 'daisyui' {
  themes: forest --default;
  root: '#root';
}

@theme inline {
  --color-dark: var(--dark);
  --color-border-dark: var(--border-dark);
  --color-primary: var(--primary);
}

:root {
  --dark: oklch(0.145 0 0);
  --border-dark: oklch(1 0 0 / 10%);
  --primary: oklch(83.768% 0.001 17.911);
}

* {
  box-sizing: border-box;
  color-scheme: dark;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
